@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Demo!</h1>
    <p>Demo site to play with <a asp-page="/NestedDynamicPages">nested dynamic pages</a>.</p>
</div>
